<div class="ui secondary pointing menu">
  <a class="item"><b><i class="computer icon"></i>CollabVM</b></a>
  <a class="active item" href="/collab-vm/">Home</a>
  <a class="item" href="/collab-vm/faq">FAQ</a>
  <a class="item" href="/collab-vm/rules">Rules</a>
  <a class="item" href="https://discord.gg/aaPrvyr" target="_blank">Discord</a>
  <a class="item" href="https://reddit.com/r/collabvm" target="_blank">Subreddit</a>
  <div class="right menu">
    
  <a href="/collab-vm/user-vm" class="item">Check out UserVM for more VMs!</a></div>
</div>